.table-list {
    width: 100%;
    color:  whitesmoke;
}

.table-list th {
    background-color: #213333;
    padding: 10px;
    letter-spacing: 1.5px;
}

.table-list td {
    background-color: #3e70b5;
    padding: 5px;
}

.events .content {
    margin: 0 auto;
}

.events .link {
    margin-right: 10px;
    text-decoration: underline;
}

.events .link .fa-edit {
    color: #64bd64;
}

.events .link .fa-trash-alt {
    color: #ff7a7a;
}

@media screen and (min-width: 555px) {
    .events .content {
        width: 500px;
    }
}
    