body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  color: #fff;
  cursor: pointer;
}

input, textarea {
  width: 95%;
  padding: 10px 2%;
  font-size: 18px;
  margin: 10px auto;
  color: #757575;
}

input {
  display: block;
  border: none;
  border-bottom: 1px solid #757575;
}

textarea {
  border: 1px solid #757575;
  margin-top: 30px;
}

label {
  display: block;
  margin-top: 30px;
}

.text-center {
  text-align:  center;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.content {
  padding-bottom: 50px;
}

.btn {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 10px 0;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-cta {
  background-color: #4CAF50;
  padding: 15px 32px;
  font-size: 16px;
}

.btn-singout {
  background-color: #d8544bc0;
  padding: 10px 22px;
  font-size: 14px;
}

.btn-attention {
  background-color: #d8544bc0;
  padding: 15px 32px;
  font-size: 16px;
}

.btn-std {
  background-color: #2a3c8fc0;
  padding: 10px 22px;
  font-size: 14px;
}

.bkg-color-green {
  background-color: #2fa52bc0;
}

.bkg-color-red {
  background-color: #d8544bc0;
}

.msgError {
  font-size: 0.9em;
  padding: 20px;
  background-color: #d8544bc0;
  color: white;
  border-radius: 5px;
}

.msgSuccess {
  font-size: 0.9em;
  padding: 20px;
  background-color: #2fa52bc0;
  color: white;
  border-radius: 5px;
}

.center-of-screen {
  margin: 0 auto;
}

.rounded-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 15px 17px;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  z-index: 20;
}

.loader-gif {
  display: none;
}

